<% @long_term_goals.each do |goal| %>
  <%= content_tag "tr", class: "item", data: { model_name: goal.class.name.underscore, update_url: long_term_goal_sort_path(goal) } do %>
      <td><%= %></td>
      <td><%= goal.category %></td>
      <td>
        <%= link_to goal.content, long_term_goal_mid_term_goals_path(goal), data: { "turbolinks" => false } %>
        <a data-remote="true" href="<%= long_term_goal_mid_term_goals_path(goal) %>">
          中期目標一覧<b class="caret"></b>
        </a>
      </td>
      <td><%= goal.status %></td>
    <% if @user == current_user %><!-- 他ユーザーのページにいるなら -->
      <td>
        <%= link_to '編集', edit_long_term_goal_path(goal), remote: true %>
        <%= link_to '削除', long_term_goal_path(goal), method: :delete,
          data: { confirm: "本当に削除しますか？" } %>
      </td>
    <% end %>
  <% end %>
<% end %>