<div class="row l-goal-show-container">
  <div class="col-md-10 col-md-offset-1">
    <section class="user-data data1">
      <section class="user_info">
        <h2>
          <%= gravatar_for @user %><br clear = "">
          <%= link_to @user.name, user_long_term_goals_path(@user), data: {"turbolinks" => false} %>
        </h2>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="follow-button">
        <%= render 'users/follow_form' if logged_in? %>
      </section>
    </section>
    
    <section class="user-data data2">
      <p class="center">通知</p>
      <p class="center">メッセージ</p>
      <p class="center">X Room一覧</p>
    </section>
    <section class="user-data data3">
      <input type="text" placeholder="X Room検索">
      <%= form_tag users_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: 'search_user', placeholder: 'ユーザー検索' %>
          <%= submit_tag "Search", :name => nil, class: 'search_user_btn' %>
        </p>
      <% end %>
      <input type="text" placeholder="目標検索">
    </section>
  </div>
</div>
<h1>長期目標リスト</h1>
<% if current_user == @user %><!-- 他ユーザーのページにいるなら -->
<p><%= link_to "新規長期目標", new_user_long_term_goal_path(@user), remote: true %></p>
<div class="row">
  <div class="table-sortable ui-sortable">
<% else %>
<div class="row">
  <div>
<% end %>
    <%= render 'l_goal' %>
  </div>
</div>
<div class="modal fade goal-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= link_to '戻る', :back, data: { "turbolinks" => false } %> 




<%#= 予備用レイアウト %>

<% if false %>

<div class="row">
  <aside class="col-md-3 user-sidebar">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %><br clear = "">
        <%= link_to @user.name, user_long_term_goals_path(@user), data: {"turbolinks" => false} %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="follow-button">
      <%= render 'users/follow_form' if logged_in? %>
    </section>
    <section>
      <p class="center">通知</p>
      <p class="center">メッセージ</p>
      <p class="center">X Room一覧</p>
    </section>
    <section>
      <input type="text" placeholder="X Room検索">
      <%= form_tag users_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: 'search_user', placeholder: 'ユーザー検索' %>
          <%= submit_tag "Search", :name => nil, class: 'search_user_btn' %>
        </p>
      <% end %>
      <input type="text" placeholder="目標検索">
    </section>
  </aside>
  <div class="col-md-9">
  <% if @user == current_user %><!-- 他ユーザーのページにいるなら -->
    <h3 class="center new-l-goal">長期目標リスト<%= link_to "新規長期目標", new_user_long_term_goal_path, remote: true, class: "new-l-goal" %></h3>
    <table class="table table-bordered table-sortable ui-sortable">
  <% else %>
    <h3 class="center new-l-goal">長期目標リスト</h3>
    <table class="table">
  <% end %>
      <thead>
        <tr>
          <th>目標期限</th>
          <th>カテゴリー</th>
          <th>目標内容</th>
          <th>ステータス</th>
        <% if @user == current_user %>
          <th></th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render 'l_goal' %>
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade goal-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= link_to '戻る', :back, data: { "turbolinks" => false } %> 

<% end %>