<%#= 長期目標用 %>
<% if params[:long_term_goal_id] %>
<div class="clearfix" id="comment-form">
    <%= form_for(@long_term_goal.comments.build, url: long_term_goal_comments_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field :user_id, value: current_user.id %>
      
      <%= gravatar_for current_user, size: 35 %>
      <%= f.text_field :content, class: 'form-control', placeholder: 'コメントを送信' %>
      
      <%= f.submit '送信', class: 'btn btn-primary' %>
    <% end %>
</div>
<%#= 中期目標用 %>
<% elsif params[:mid_term_goal_id] %>
<div class="clearfix" id="comment-form">
  <%= form_for(@mid_term_goal.comments.build, url: mid_term_goal_comments_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field :user_id, value: current_user.id %>
      
      <%= gravatar_for current_user, size: 35 %>
      <%= f.text_field :content, class: 'form-control', placeholder: 'コメントを送信' %>
      
      <%= f.submit '送信', class: 'btn btn-primary' %>
    <% end %>
</div>
<%#= 短期目標用 %>
<% elsif params[:short_term_goal_id] %>
<div class="clearfix" id="comment-form">
  <%= form_for(@short_term_goal.comments.build, url: short_term_goal_comments_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field :user_id, value: current_user.id %>
      
      <%= gravatar_for current_user, size: 35 %>
      <%= f.text_field :content, class: 'form-control', placeholder: 'コメントを送信' %>
      
      <%= f.submit '送信', class: 'btn btn-primary' %>
    <% end %>
</div>
<%#= アプローチ用 %>
<% elsif params[:approach_id] %>
<div class="clearfix" id="comment-form">
  <%= form_for(@approach.comments.build, url: approach_comments_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field :user_id, value: current_user.id %>
      
      <%= gravatar_for current_user, size: 35 %>
      <%= f.text_field :content, class: 'form-control', placeholder: 'コメントを送信' %>
      
      <%= f.submit '送信', class: 'btn btn-primary' %>
    <% end %>
</div>
<% end %>