<div class="row">
  <!--フォームサイドバー-->
  <aside class="col-md-3 search_sidebar">
    <%= form_tag search_result_path, :method => 'get', class: 'overall_search_form' do %>
      <p class="bold">絞り込み内容</p>
      <p class="search_item">
        <%= check_box_tag 'user_p', 'user', true %>
        <%= label_tag 'user_p', 'ユーザー' %>
        <span onclick="obj=document.getElementById('u_pulldown').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer;">▼ </a>
        </span>
      </p>
      <div id="u_pulldown" style="display:none;clear:both;">
        <p class="search_child_item">
          <%= check_box_tag 'user_follower_p', 'user_follower', false %>
          <%= label_tag 'user_follower_p', 'フォロワー数降順' %>
        </p>
      </div>
      <p class="search_item">
        <%= check_box_tag 'l_goal_p', 'l_goal', true %>
        <%= label_tag 'l_goal_p', '長期目標' %>
        <span onclick="obj=document.getElementById('l_pulldown').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer;">▼ </a>
        </span>
      </p>
      <div id="l_pulldown" style="display:none;clear:both;">
        <p class="search_child_item">
          <%= text_field_tag :l_category, params[:l_category], placeholder: 'カテゴリー検索' %>
        </p>
      </div>
      <p class="search_item">
        <%= check_box_tag 'm_goal_p', 'm_goal', true %>
        <%= label_tag 'm_goal_p', '中期目標' %>
      </p>
      <p class="search_item">
        <%= check_box_tag 's_goal_p', 's_goal', true %>
        <%= label_tag 's_goal_p', '短期目標' %>
      </p>
      <p class="search_item">
        <%= check_box_tag 'approach_p', 'approach', true %>
        <%= label_tag 'approach_p', 'アプローチ' %>
        <span onclick="obj=document.getElementById('a_pulldown').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer;">▼ </a>
        </span>
      </p>
      <div id="a_pulldown" style="display:none;clear:both;">
        <p class="search_child_item">
          <%= label_tag :effectiveness, "効果" %>
          <%= select_tag :effectiveness, options_for_select(Approach.effectivenesses), include_blank: true %>
        </p>
      </div>
      <p class="bold">共通絞り込み内容</p>
      <p class="search_child_item">
        <%= label_tag :status, 'ステータス' %>
        <%= select_tag :status, options_for_select(LongTermGoal.statuses), include_blank: true %>
      </p>
      <p class="search_child_item">
        <%= check_box_tag 'like_count_p', 'like_count', false %>
        <%= label_tag 'like_count_p', 'いいね数降順' %>
      </p>
      <p class="search_child_item">
        <%= check_box_tag 'comment_count_p', 'comment_count', false %>
        <%= label_tag 'comment_count_p', 'コメント数降順' %>
      </p>
      <p>
        <%= text_field_tag :search, params[:search], class: 'kwd_textarea', placeholder: 'キーワードを入れてください' %>
        <%= submit_tag '検索', :name => nil, class: 'kwd_search_btn' %>
      </p>
    <% end %>
  </aside>
  
  <div class="col-md-9">
    <!--パネルのリンクリスト-->
    <div class="row">
      <div class="list-group clearfix col-md-10 col-md-offset-1" id="myList" role="tablist">
        <div>
          <a class="list-group-item list-group-item-action"　data-toggle="list" href="#user" role="tab">
            ユーザー結果
          <% unless @users.blank? %>
            <span class="search_count"><%= @users.count %></span>
          <% end %>
          </a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#l-goal" role="tab">
            長期目標結果
          <% unless @l_goals.blank? %>
            <span class="search_count"><%= @l_goals.count %></span>
          <% end %>
          </a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#m-goal" role="tab">
            中期目標結果
          <% unless @m_goals.blank? %>
            <span class="search_count"><%= @m_goals.count %></span>
          <% end %>
          </a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#s-goal" role="tab">
            短期目標結果
          <% unless @s_goals.blank? %>
            <span class="search_count"><%= @s_goals.count %></span>
          <% end %>
          </a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#approach" role="tab">
            アプローチ結果
          <% unless @approaches.blank? %>
            <span class="search_count"><%= @approaches.count %></span>
          <% end %>
          </a>        
        </div>      
      </div>
    </div>
    
    <!--パネルのコンテンツまとめdiv-->
    <div class="tab-content">
      <!--ユーザーパネル-->
      <div class="tab-pane fade active" id="user" role="tabpanel">
      <% unless @users.blank? %>
        <div class="user_result result_item">
          <%= will_paginate @users, params: { content: 'user' } %>
          <%= render partial: 'user', collection: @users %>
        </div>
      <% end %>
      </div>
      <!--長期目標パネル-->
      <div class="tab-pane fade" id="l-goal" role="tabpanel">
        <% unless @l_goals.blank? %>
          <div class="l_goal_result result_item">
            <%= will_paginate @l_goals, params: { content: 'l-goal' } %>
            <%= render 'l_goal' %>
          </div>
        <% end %>
      </div>
      <!--中期目標パネル-->
      <div class="tab-pane fade" id="m-goal" role="tabpanel">
        <% unless @m_goals.blank? %>
          <div class="m_goal_result result_item">
            <%= will_paginate @m_goals, params: { content: 'm-goal' } %>
            <%= render 'm_goal' %>
          </div>
        <% end %>
      </div>
      <!--短期目標パネル-->
      <div class="tab-pane fade" id="s-goal" role="tabpanel">
        <% unless @s_goals.blank? %>
          <div class="s_goal_result result_item">
            <%= will_paginate @s_goals, params: { content: 's-goal' } %>
            <%= render 's_goal' %>
          </div>
        <% end %>
      </div>
      <!--アプローチ-->
      <div class="tab-pane fade" id="approach" role="tabpanel">
        <% unless @approaches.blank? %>
          <div class="approach_result result_item">
            <%= will_paginate @approaches, params: { content: 'approach' } %>
            <%= render 'approach' %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
<!--メモ用モーダルウィンドウ-->
<div class="modal fade goal-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>
  $(document).ready(function(){
    $('#myList a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  })
  $(document).on('turbolinks:load', function(){
    var urlParams = new URLSearchParams(window.location.search);
    var content = urlParams.get('content');
    $(`[href="#${content}"]`).tab('show')
  })
</script>