<div class="row">
  <aside class="col-md-4 center">
    <%= link_to 'Xroom一覧', xrooms_path %>
    <section class="xmessage_sidebar">
      <h2>カテゴリー</h2>
      <p class="center"><%= @xroom.category %></p>
      <h2>概要</h2>
      <p class="center"><%= @xroom.description %> </p>
    </section>
  </aside>
  
  <div class="col-md-8">
  <% if @xroom.name %>
    <h1 id="xroom_name"><%= @xroom.name %></h1>
  <% else %>
    <h1 id="xroom_name">X Room<%= @xroom.id %></h1>
  <% end %>
    <section class="xmessage_box">
      <div id="xmessages", data-xroom_id="<%= @xroom.id %>">
        <%= render @xmessages %>
      </div>
    </section>
    <script type="text/javascript">
      var height = 0;
      $("div.xmessage").each( function() {
        height += ($(this).height());
      });
      $('section.xmessage_box').scrollTop(height);
    </script>
    <form class="xmessage_form">
      <input type="text" data-behavior="xroom_speaker" placeholder= "メッセージを入力">
    </form>    
  </div>
</div>