<div class="row">
  <aside class="col-md-4 center">
    <%= link_to 'Xroom一覧へ', xrooms_path, class: 'xroom_link' %>
    <section class="xmessage_sidebar">
      <h3 class="xroom_attr">カテゴリー</h2>
      <p class="xroom_exp xroom_category"><%= @xroom.category %></p>
      <h3 class="xroom_attr">概要</h2>
      <p class="xroom_exp xroom_description"><%= @xroom.description %> </p>
      <h3 class="xroom_attr">リアルタイムユーザー<span>〇人</span></h3>
      <ul class="xroom_users">
        <li class="xroom_user"><%= link_to 'aiueo', '#', target: '_blank' %></li><br />
        <li class="xroom_user"><%= link_to 'あいうえお', '#', target: '_blank' %></li><br />
        <li class="xroom_user"><%= link_to 'あああああああああ', '#', target: '_blank' %></li><br />
      </ul>
    </section>
  </aside>
  
  <div class="col-md-8">
  <% if @xroom.name %>
    <h1 id="xroom_name"><%= @xroom.name %></h1>
  <% else %>
    <h1 id="xroom_name">X Room<%= @xroom.id %></h1>
  <% end %>
  <% if @xroom.user == current_user %>
    <%= link_to '編集', edit_xroom_path, remote: true %>
    <%= link_to '削除', xroom_path, method: :delete, remote: true, 
      data: { confirm: "本当に削除しますか？" } %>
  <% end %>
    <section class="xmessage_box">
      <div id="xmessages", data-xroom_id="<%= @xroom.id %>">
        <%= render @xmessages %>
      </div>
    </section>
    <script type="text/javascript">
      var height = 0;
      $("div.xmessage").each( function() {
        height += ($(this).height());
      });
      $('section.xmessage_box').scrollTop(height);
    </script>
    <form class="xmessage_form">
      <textarea type="text" data-behavior="xroom_speaker" placeholder= "メッセージを入力"></textarea>
    </form>    
  </div>
</div>
<div class="modal fade xroom-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>