<% if defined? user %>
  <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                html: { method: :delete },
                remote: true) do |f| %>
    <div><%= hidden_field_tag :i, 1 %></div>
    <%= f.submit "Unfollow", class: "btn" %>
  <% end %>
<% else %> 
  <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
               html: { method: :delete },
               remote: true) do |f| %>
    <%= f.submit "Unfollow", class: "btn" %>
  <% end %>
<% end %>