<% @mid_term_goals.each_with_index do |m_goal, i| %>
  <%= content_tag "div", class: "item", data: { model_name: m_goal.class.name.underscore, update_url: mid_term_goal_sort_path(m_goal) } do %>
    <div class="clearfix">
      <section class="left">
        <%= link_to m_goal.content, mid_term_goal_short_term_goals_path(m_goal), data: {"turbolinks" => false} %><br />
        <%= m_goal.status %><br />
        <span>期限</span><br />
        <%= link_to mid_term_goal_comments_path(m_goal) do %>
          <span>コメント <%= m_goal.comments.count %></span>
        <% end %><br />
        <%= render partial: 'likes/m_like', locals: { m_goal: m_goal } %><br />
        <%#= この中期目標が既にメモを持っている場合 %>
        <% if m_goal.memo %>
          <%= link_to 'メモ', memo_path(m_goal.memo), remote: true %><br />
        <% end %>
      <%#= 自分のページにいる場合 %>
      <% if current_user == @user %>
        <%#= この中期目標がメモを持っていない場合 %>
        <% unless m_goal.memo %>
          <%= link_to '新規メモ', mid_term_goal_memo_new_path(m_goal), remote: true %>
        <% end %>
        <%= link_to '編集', edit_mid_term_goal_path(m_goal), remote: true %>
        <%= link_to '削除', mid_term_goal_path(m_goal), method: :delete, remote: true,
          data: { confirm: "本当に削除しますか？" } %><br />
        <%= link_to '新規短期目標', new_mid_term_goal_short_term_goal_path(m_goal), remote: true %>
      <% end %>
      </section>
    <%#= 自分のページにいる場合 %>
    <% if current_user == @user %>
      <section class="right table-sortable ui-sortable clearfix">
    <%#= 自分以外のユーザーのページにいる場合 %>
    <% else %>
      <section class="right clearfix">
    <% end %>
        <div onclick="obj=document.getElementById('s_open_<%= i %>').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer;">▼ 短期目標一覧</a>
        </div>
        <div id="s_open_<%= i %>" class="<%= m_goal.id %>-s-index" style="display:none;clear:both;">
          <%= render 's_goal', m_goal: m_goal %>
        </div>
      </section>
    </div>
  <% end %>
<% end %>