<h1>長期目標編集</h1>
<div class="clearfix">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@mid_term_goal, url: mid_term_goal_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :content, "目標内容" %>
      <%= f.text_field :content, class: 'form-control' %>
      
      <%= f.submit '更新', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
