<% @a_rank.each do |approach| %>
<% s_goal = approach.short_term_goal %>
  <div class="clearfix item">
    <section class="left">
      <p class="s-goal-approach-content"><%= approach.content %></p>
      <ul class="s-goal-left">
        <li>
          <%= link_to short_term_goal_comments_path(s_goal) do %>
            <span><i class="fas fa-comment"></i> <%= approach.comments.count %></span>
          <% end %>
        </li>
        <li>
          <%= render partial: 'likes/a_like', locals: { approach: approach } %>
        </li>
        <li>
          <% if approach.memo %>
            <%= link_to '', memo_path(approach.memo), class: "fas fa-sticky-note blue-note", remote: true %>
          <% end %>
        </li>
      </ul>
    </section>
    <section class="right">
      <span class="holder_wrapper"><span class="holder_image"><%= gravatar_for(approach.user, size: 20) %></span><span class="holder_name"><%= approach.user.name %></span></span>
    </section>
  </div>
<% end %>