<% @your_updated_m_goals.each do |m_goal| %>
  <div class="clearfix item">
    <section class="left">
      <% if m_goal.status == "未達成" %>
        <p class = "status status-red"><%= m_goal.status %></p>
      <% elsif m_goal.status == "実行中" %>
        <p class = "status status-yellow"><%= m_goal.status %></p>
      <% else %>
        <p class = "status status-green"><%= m_goal.status %></p>
      <% end %>
      <span>期限: </span><%= m_goal.deadline ? m_goal.deadline.date : "未設定" %><br />
      <p class="m-goal-content"><%= link_to m_goal.content, mid_term_goal_short_term_goals_path(m_goal), data: {"turbolinks" => false} %></p>
      <ul class="m-goal-left">
        <li>
          <%= link_to mid_term_goal_comments_path(m_goal) do %>
            <span><i class="fas fa-comment"></i> <%= m_goal.comments.count %></span>
          <% end %>
        </li>
        <li>
          <%= render partial: 'likes/m_like', locals: { m_goal: m_goal } %>
        </li>
        <li>
          <% if m_goal.memo %>
            <%= link_to '', memo_path(m_goal.memo), class: "fas fa-sticky-note blue-note", remote: true %>
          <% end %>
        </li>
      </ul>
    </section>
    <section class="right">
      <p>更新日：<%= Date.parse(m_goal.updated_at.to_s).strftime('%Y/%m/%d') %></p>
      <p class="text_right"><span class="holder_wrapper"><span class="holder_image"><%= gravatar_for(m_goal.user, size: 20) %></span><span class="holder_name"><%= m_goal.user.name %></span></span></p>
    </section>
  </div>
<% end %>