<% users.each do |user| %>
  <div class="row user_item">
    <div class="col-sm-4">
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user_long_term_goals_path(user), data: {"turbolinks" => false}, target: '_blank' %>
    </div>
    <div class="col-sm-8">
      <a href="<%= following_user_path(user) %>">
        <strong id="following" class="stat">
          <%= user.following.count %>
        </strong>
        following
      </a>
      <a href="<%= followers_user_path(user) %>">
        <strong id="followers" class="stat">
          <%= user.followers.count %>
        </strong>
        followers
      </a>
    </div>
  </div>
<% end %>