<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3 user-sidebar">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %><br clear = "">
          <%= link_to @user.name, user_long_term_goals_path(@user), data: {"turbolinks" => false } %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="home-menu">
        <h1>メニュー</h1>
        <h2><%= link_to '► ホーム', root_path %></h2>
        <h2>
          <span onclick="obj=document.getElementById('pulldown_1').style; obj.display=(obj.display=='none')?'block':'none';">
            <a style="cursor:pointer;"><span class="underline">► あなたのアクティビティー</span></a>
          </span>
        </h2>
        <div class="pulldown_wrapper" id="pulldown_1" style="display:none;clear:both;">
          <p>
            <span onclick="obj=document.getElementById('pulldown_1_1').style; obj.display=(obj.display=='none')?'block':'none';">
              <a class="line" style="cursor:pointer;">► 最新更新リスト</a>
            </span>
          </p>
          <div class="pulldown_wrapper" id="pulldown_1_1" style="display:none;clear:both;">
            <p class="panel-p"><%= link_to '長期目標', root_path(your_updated_l_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(your_updated_m_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(your_updated_s_goals: 1) , class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(your_updated_approaches: 1) , class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'X Room', root_path(your_xrooms: 1) , class: 'link-with-param indent-right', remote: true %></p>
          </div>
          <p>
            <span onclick="obj=document.getElementById('pulldown_1_2').style; obj.display=(obj.display=='none')?'block':'none';">
              <a class="line" style="cursor:pointer;">► 最新実行中リスト</a>
            </span>
          </p>
          <div class="pulldown_wrapper" id="pulldown_1_2" style="display:none;clear:both;">
            <p class="panel-p"><%= link_to '長期目標', root_path(your_ongoing_l_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(your_ongoing_m_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(your_ongoing_s_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(your_ongoing_approaches: 1), class: 'link-with-param indent-right', remote: true %></p>
          </div>
          <p>
            <span onclick="obj=document.getElementById('pulldown_1_3').style; obj.display=(obj.display=='none')?'block':'none';">
              <a class="line" style="cursor:pointer;">► 最新達成リスト</a>
            </span>
          </p>
          <div class="pulldown_wrapper" id="pulldown_1_3" style="display:none;clear:both;">
            <p class="panel-p"><%= link_to '長期目標', root_path(your_achieved_l_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(your_achieved_m_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(your_achieved_s_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(your_achieved_approaches: 1), class: 'link-with-param indent-right', remote: true %></p>
          </div>
          <p>
            <span onclick="obj=document.getElementById('pulldown_1_4').style; obj.display=(obj.display=='none')?'block':'none';">
              <a class="line" style="cursor:pointer;">► あなたのいいね / フォロー</a>
            </span>
          </p>
          <div class="pulldown_wrapper" id="pulldown_1_4" style="display:none;clear:both;">
            <p class="panel-p"><%= link_to '長期目標', root_path(your_favorite_l_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(your_favorite_m_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(your_favorite_s_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(your_favorite_approaches: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'ユーザー', root_path(your_resent_followings: 1), class: 'link-with-param indent-right', remote: true %></p>
          </div>
        </div>
        <h2>
          <span onclick="obj=document.getElementById('pulldown_2').style; obj.display=(obj.display=='none')?'block':'none';">
            <a style="cursor:pointer;"><span class="underline">► フォロワーアクティビティー</span></a>
          </span>
        </h2>
        <div class="pulldown_wrapper" id="pulldown_2" style="display:none;clear:both;">
          <p>
            <span onclick="obj=document.getElementById('pulldown_2_1').style; obj.display=(obj.display=='none')?'block':'none';">
              <a class="line" style="cursor:pointer;">► 最新更新リスト</a>
            </span>
          </p>
          <div class="pulldown_wrapper" id="pulldown_2_1" style="display:none;clear:both;">
            <p class="panel-p"><%= link_to '長期目標', root_path(followers_updated_l_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(followers_updated_m_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(followers_updated_s_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(followers_updated_approaches: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'X Room', root_path(followers_resent_xrooms: 1), class: 'link-with-param indent-right', remote: true %></p>
          </div>
          <p>
            <span onclick="obj=document.getElementById('pulldown_2_2').style; obj.display=(obj.display=='none')?'block':'none';">
              <a class="line" style="cursor:pointer;">► 最新実行中リスト</a>
            </span>
          </p>
          <div class="pulldown_wrapper" id="pulldown_2_2" style="display:none;clear:both;">
            <p class="panel-p"><%= link_to '長期目標', root_path(followers_ongoing_l_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(followers_ongoing_m_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(followers_ongoing_s_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(followers_ongoing_approaches: 1), class: 'link-with-param indent-right', remote: true %></p>
          </div>
          <p>
            <span onclick="obj=document.getElementById('pulldown_2_3').style; obj.display=(obj.display=='none')?'block':'none';">
              <a class="line" style="cursor:pointer;">► 最新達成リスト</a>
            </span>
          </p>
          <div class="pulldown_wrapper" id="pulldown_2_3" style="display:none;clear:both;">
            <p class="panel-p"><%= link_to '長期目標', root_path(followers_achieved_l_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(followers_achieved_m_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(followers_achieved_s_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(followers_achieved_approaches: 1), class: 'link-with-param indent-right', remote: true %></p>
          </div>
          <p>
            <span onclick="obj=document.getElementById('pulldown_2_4').style; obj.display=(obj.display=='none')?'block':'none';">
              <a class="line" style="cursor:pointer;">► フォロワーのいいね / フォロー</a>
            </span>
          </p>
          <div class="pulldown_wrapper" id="pulldown_2_4" style="display:none;clear:both;">
            <p class="panel-p"><%= link_to '長期目標', root_path(followers_favorite_l_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(followers_favorite_m_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(followers_favorite_s_goals: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(followers_favorite_approaches: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'ユーザー', root_path(followers_resent_followings: 1), class: 'link-with-param indent-right', remote: true %></p>
          </div>
        </div>
        <h2>
          <span onclick="obj=document.getElementById('pulldown_3').style; obj.display=(obj.display=='none')?'block':'none';">
            <a style="cursor:pointer;"><span class="underline">► いいね / フォロワーランキング </span></a>
          </span>
        </h2>
        <div class="pulldown_wrapper" id="pulldown_3" style="display:none;clear:both;">
          <div class="pulldown_wrapper">
            <p class="panel-p"><%= link_to '長期目標', root_path(l_rank: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '中期目標', root_path(m_rank: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to '短期目標', root_path(s_rank: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'アプローチ', root_path(a_rank: 1), class: 'link-with-param indent-right', remote: true %></p>
            <p class="panel-p"><%= link_to 'ユーザー', root_path(u_rank: 1), class: 'link-with-param indent-right', remote: true %></p>
          </div>
        </div>
      </section>
    </aside>
    
    <div class="col-md-9">
      <div id="home-wrapper">
        <div id="home-calendar">
          <h2 id="month" class=" clearfix">
            <%= link_to "<", date: @date.prev_month %>
            <%= @date.strftime("%B %Y") %>
            <%= link_to ">", date: @date.next_month %>
          </h2>
          <span id="color-instruction">
            長期目標:<span class="l_goal_color"></span>
            中期目標:<span class="m_goal_color"></span>
            短期目標:<span class="s_goal_color"></span>
            アプローチ:<span class="approach_color"></span>
          </span>
          <%= render 'calendar' %>
        </div>
      </div>
      <h2 id="goal-overview-header">目標俯瞰図</h2>
      <div id="goal-overview-wrapper">
        <%= render 'goal_overview' %>
      </div>
    </div>
  </div>
  <div class="modal fade goal-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
  
<% else %>
  <div class="center jumbotron">
    <h1>X Planner</h1>
  </div>

  <div class="home-container">
    <h2>Lorem</h2>
    <p>
      <em>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus natus officia unde doloremque veniam assumenda ea autem reprehenderit tempore asperiores minima fugit, fugiat, dolore rem deleniti aut laboriosam tenetur?
      </em>
    </p>
    <h2>Lorem</h2>
    <p>
      <em>
        Ullam quod impedit accusantium quas enim dignissimos mollitia ut, tenetur porro, aspernatur in laboriosam sit maxime omnis, culpa eius harum saepe voluptas!
      </em>
    </p>
    <h2>Lorem</h2>
    <p>
      <em>
        Beatae neque fugiat, excepturi, ducimus, odio sapiente nobis illum dicta harum consequatur facilis minus illo odit. Fuga harum commodi blanditiis ullam saepe.
      </em>
    </p>
  </div>
<% end %>