<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3 user-sidebar">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %><br clear = "">
          <%= link_to @user.name, user_long_term_goals_path(@user) %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section>
        <p class="center">通知</p>
        <p class="center">メッセージ</p>
        <p class="center">X Room一覧</p>
      </section>
      <section>
      <input type="text" placeholder="X Room検索">
      <%= form_tag users_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: 'search_user', placeholder: 'ユーザー検索' %>
          <%= submit_tag "Search", :name => nil, class: 'search_user_btn' %>
        </p>
      <% end %>
      <input type="text" placeholder="目標検索">
      </section>
    </aside>
    <div class="col-md-9 center">
      <h3>アクティビティ</h3>
      <p>このページはログイン済みユーザー用のホームページです。</p>
      <p>ほげほげー</p>
      <p>ろーれむいぷさむ</p>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>X Planner</h1>
  </div>

  <div class="home-container">
    <h2>Lorem</h2>
    <p>
      <em>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus natus officia unde doloremque veniam assumenda ea autem reprehenderit tempore asperiores minima fugit, fugiat, dolore rem deleniti aut laboriosam tenetur?
      </em>
    </p>
    <h2>Lorem</h2>
    <p>
      <em>
        Ullam quod impedit accusantium quas enim dignissimos mollitia ut, tenetur porro, aspernatur in laboriosam sit maxime omnis, culpa eius harum saepe voluptas!
      </em>
    </p>
    <h2>Lorem</h2>
    <p>
      <em>
        Beatae neque fugiat, excepturi, ducimus, odio sapiente nobis illum dicta harum consequatur facilis minus illo odit. Fuga harum commodi blanditiis ullam saepe.
      </em>
    </p>
  </div>
<% end %>