<div class="row l-goal-show-container">
  <div class="col-md-10 col-md-offset-1">
    <section class="user-data data1">
      <section class="user_info">
        <h2>
          <%= gravatar_for @user %><br clear = "">
          <%= link_to @user.name, user_long_term_goals_path(@user), data: {"turbolinks" => false} %>
        </h2>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="follow-button">
        <%= render 'users/follow_form' if logged_in? %>
      </section>
    </section>
    
    <section class="user-data data2">
      <p class="center">通知</p>
      <p class="center">メッセージ</p>
      <p class="center">X Room一覧</p>
    </section>
    <section class="user-data data3">
      <input type="text" placeholder="X Room検索">
      <%= form_tag users_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: 'search_user', placeholder: 'ユーザー検索' %>
          <%= submit_tag "Search", :name => nil, class: 'search_user_btn' %>
        </p>
      <% end %>
      <input type="text" placeholder="目標検索">
    </section>
  </div>
</div>
<h1><%= @long_term_goal.content %><span>|</span><%= @mid_term_goal.content %></h1>
<% if current_user == @user %>
<p><%= link_to "新規短期目標", new_mid_term_goal_short_term_goal_path(@mid_term_goal) %></p>
<div class="row">
  <div class="table-sortable ui-sortable">
<% else %>
<div class="row">
  <div>
<% end %>
    <% @short_term_goals.each do |s_goal| %>
      <%= content_tag "div", class: "item", data: { model_name: s_goal.class.name.underscore, update_url: short_term_goal_sort_path(s_goal) } do %>
        <div class="clearfix">
          <section class="left">
            <%= s_goal.content %><%= s_goal.status %><br />
            <span>期限</span>
            <span>コメント</span>
            <span>いいね</span><br />
            <%= link_to '編集', edit_short_term_goal_path(s_goal) %>
            <%= link_to '削除', short_term_goal_path(s_goal), method: :delete,
              data: { confirm: "本当に削除しますか？" } %><br />
            <%= link_to '新規アプローチ', new_short_term_goal_approach_path(s_goal) %>
          </section>
        <% if current_user == @user %>
          <section class="right table-sortable ui-sortable">
        <% else %>
          <section class="right">
        <% end %>
            <% @approaches = s_goal.approaches.rank(:row_order) %>
            <% @approaches.each do |approach| %>
              <%= content_tag "div", class: "item", data: { model_name: approach.class.name.underscore, update_url: approach_sort_path(approach) } do %>
                <div>
                  <%= approach.content %><%= approach.effectiveness %><br />
                  <span>コメント</span>
                  <span>いいね</span>
                  <%= link_to '編集', edit_approach_path(approach) %>
                  <%= link_to '削除', approach_path(approach), method: :delete,
                    data: { confirm: "本当に削除しますか？" } %>
                </div>
              <% end %>
            <% end %>
          </section>
        </div>
      <% end %>
    <% end %>
  </div>
</div>